/* .header {
    display: flex;
    flex-direction: row;
}

.header-image {
    justify-content: left;
    text-align: left;
}

.header-image img {
    width: 200px;
}

.header-image h1 {
    font-size: 16pt;
} */